
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <img class="img-fluid gato-img" src="gorro.png">
    <a class="navbar-brand text-accent font-bold" routerLink="/">LA BRUJA DE SALEM - REIKI</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link text-secondary" routerLink="/que-es-reiki">¿Qué es el Reiki?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-secondary" routerLink="/principios-reiki">Principios del Reiki</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-secondary" href="/beneficios-reiki">Beneficios del Reiki</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
