<footer class="text-bg-dark shadow py-4">
  <div class="container">
    <div class="row">
      <!-- Sección 1: Información -->
      <div class="col-md-4 mb-3">
        <h5 class="text-accent">Sobre Nosotros</h5>
        <p class="text-secondary">Somos una empresa dedicada a brindar sesiones de Reiki a aquellos que quieran mejorar su bienestar físico y mental.</p>
      </div>
      <!-- Sección 2: Enlaces útiles -->
      <div class="col-md-4 mb-3">
        <h5 class="text-accent">Enlaces útiles</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-secondary text-decoration-none">Inicio</a></li>
          <li><a routerLink="/tarifas" class="text-secondary text-decoration-none">Servicios</a></li>
          <li><a href="#" class="text-secondary text-decoration-none">Contacto</a></li>
        </ul>
      </div>
      <!-- Sección 3: Contacto -->
      <div class="col-md-4 mb-3">
        <h5 class="text-accent">Contáctanos</h5>
        <p class="text-secondary">
          <i class="bi bi-telephone-fill"></i> +34 605 28 26 41<br>
          <a href="mailto:rivasvillaitodolaura@gmail.com" class="text-secondary"> <i class="bi bi-envelope-fill"></i> rivasvillaitodolaura&#64;gmail.com </a><br>
          <a href="https://www.instagram.com/soylabrujadesalem/" class="text-secondary">
            <i class="bi bi-instagram"></i>
             &#64;soylabrujadesalem
          </a> <br>
          <a class="text-secondary" href="https://www.google.es/maps/place/Herbolario+La+Ventana+Natural+San+Fernando+de+Henares+Parcelshop/@40.4191717,-3.5341273,18.5z/data=!4m16!1m9!3m8!1s0xd4231cb5f2e9591:0x9fb0e9ee25ec76be!2sHerbolario+La+Ventana+Natural+San+Fernando+de+Henares+Parcelshop!8m2!3d40.418583!4d-3.5280137!9m1!1b1!16s%2Fg%2F11sn_3nf1w!3m5!1s0xd4231cb5f2e9591:0x9fb0e9ee25ec76be!8m2!3d40.418583!4d-3.5280137!16s%2Fg%2F11sn_3nf1w?entry=ttu&g_ep=EgoyMDI1MDExNS4wIKXMDSoASAFQAw%3D%3D"><i class="bi bi-geo-alt-fill"></i><span style="font-size: 18px;">Herbolario La Ventana Natural, 28830</span></a>
        </p>
      </div>
    </div>
    <div class="text-center mt-3">
      <p class="mb-0 text-secondary">&copy; {{getAnyoActual()}} SoyLaBrujaDeSalem. Todos los derechos reservados.</p>
    </div>
  </div>
</footer>
