<header-page />
<div class="reiki-container">
  <div class="reiki-title">
    <h2>Los 5 Principios del Reiki</h2>
    <div class="separator"></div>
  </div>

  <div class="reiki-grid">
    <div class="reiki-item">
      <div class="reiki-icon">✨</div>
      <h3>Primer Principio</h3>
      <h4>Hoy no me enojaré</h4>
      <p class="text-secondary">El primer principio nos invita a liberarnos del enojo y la ira, que son emociones destructivas tanto para nuestro bienestar físico como emocional. Practicar la paciencia y la comprensión nos ayuda a mantener la calma y la serenidad en todas las situaciones.</p>
    </div>

    <div class="reiki-item">
      <div class="reiki-icon">🌈</div>
      <h3>Segundo Principio</h3>
      <h4>Hoy no me preocuparé</h4>
      <p class="text-secondary">La preocupación es una carga emocional que puede afectar nuestro equilibrio energético. Este principio nos enseña a soltar las preocupaciones y a confiar en que todo sucederá en su debido tiempo.</p>
    </div>

    <div class="reiki-item">
      <div class="reiki-icon">💖</div>
      <h3>Tercer Principio</h3>
      <h4>Hoy seré agradecido</h4>
      <p class="text-secondary">La gratitud es una de las emociones más poderosas. Este principio nos recuerda la importancia de agradecer cada momento, incluso los desafíos, ya que nos brindan valiosas lecciones de vida.</p>
    </div>

    <div class="reiki-item">
      <div class="reiki-icon">👷🏻‍♀️</div>
      <h3>Cuarto Principio</h3>
      <h4>Hoy trabajaré con diligencia</h4>
      <p class="text-secondary">Este principio nos invita a hacer todo con dedicación y esfuerzo, pero sin caer en la excesiva preocupación o estrés. El trabajo diligente es un acto de amor hacia uno mismo y hacia los demás.</p>
    </div>

    <div class="reiki-item">
      <div class="reiki-icon">🌟</div>
      <h3>Quinto Principio</h3>
      <h4>Hoy seré amable con los demás</h4>
      <p class="text-secondary">La bondad y la compasión son principios fundamentales en Reiki. Ser amable no solo beneficia a los demás, sino que también fortalece nuestra propia energía. La amabilidad crea un ambiente armonioso que facilita el flujo de energía.</p>
    </div>
  </div>
</div>
<footer-page/>
