<header-page />

<div class="container">

  <!-- Tarifas section -->
  <section class="text-center mb-2 p-3">
    <div class="reiki-title">
      <h2>Nuestras tarifas</h2>
      <div class="separator"></div>
    </div>


    <div class="reiki-grid mt-4" style="display: flex; justify-content: center; flex-wrap: wrap;">
      <div class="reiki-item" style="flex: 1 0 220px; margin: 10px; max-width: 400px;">

        <div class="reiki-icon" style="font-size: 36px;">💆🏻‍♀️</div>
        <h3 style="font-size: 25px;">Reiki con masaje</h3>
        <h5 class="tarifa-precio" style="font-size: 20px;">40€</h5>
        <p class="text-secondary" style="font-size: 16px;">
          En esta sesión, se combina la transferencia de energía Reiki con un masaje terapéutico. El masaje ayuda a
          liberar tensiones físicas, mejorar la circulación y aliviar contracturas, mientras el Reiki restablece el
          equilibrio energético. Es ideal para quienes buscan una relajación profunda tanto física como energética.
        </p>
      </div>
      <div class="reiki-item" style="flex: 1 0 220px; margin: 10px; max-width: 400px;">

        <div class="reiki-icon" style="font-size: 36px;">🔮</div>
        <h3 style="font-size: 25px;">Reiki sin masaje</h3>
        <h5 class="tarifa-precio" style="font-size: 20px;">25€</h5>
        <p class="text-secondary" style="font-size: 16px;">
          En esta sesión, me enfocaré en canalizar energía mediante las manos, sin contacto físico
          profundo. El Reiki ayuda a equilibrar las energías del cuerpo, la mente y el espíritu, promoviendo un estado
          de calma, bienestar y sanación. Es ideal para quienes prefieren una experiencia más energética y meditativa.
        </p>
      </div>
    </div>
  </section>

  <!--Compromiso section-->

  <section class="text-center mb-2 p-3">
    <div class="reiki-title">
      <h2>Compromiso con tu bienestar</h2>
      <div class="separator"></div>
    </div>

    <!-- Cards Relevantes -->
    <div class="reiki-grid mt-4" style="display: flex; justify-content: center; flex-wrap: wrap;">
      <div class="reiki-item" style="flex: 1 0 220px; margin: 10px; max-width: 400px;">

        <div class="reiki-icon" style="font-size: 36px;">🫂</div>
        <h3 style="font-size: 25px;">Sesiones adaptadas</h3>

        <p class="text-secondary" style="font-size: 16px;">
          En nuestro centro, tu bienestar y comodidad son nuestra principal prioridad. Cada sesión de Reiki es adaptada
          a tus necesidades y te aseguramos que siempre te harás sentir lo más cómodo posible, tanto física como
          emocionalmente. Nos comprometemos a crear un ambiente relajante, seguro y libre de juicios, donde puedas
          experimentar una sanación profunda.
        </p>

      </div>
      <div class="reiki-item" style="flex: 1 0 220px; margin: 10px; max-width: 400px;">

        <div class="reiki-icon" style="font-size: 36px;">💜</div>
        <h3 style="font-size: 25px;">Tu espacio seguro</h3>
        <p class="text-secondary" style="font-size: 16px;">
          Creemos firmemente que el Reiki no solo busca equilibrar las energías del cuerpo, sino también brindarte un
          espacio donde puedas sentirte completamente en paz y a gusto. Tu confort durante la terapia es esencial para
          lograr una experiencia transformadora y restauradora, y siempre trabajaremos contigo para asegurarnos de que
          te sientas apoyado/a en cada paso del proceso.

        </p>
      </div>
    </div>
  </section>


</div>

<footer-page />
