<header-page/>
<div class="reiki-container">

  <div class="reiki-title">
    <h2>Beneficios del Reiki</h2>
    <div class="separator"></div>
  </div>

  <!--Beneficios del reiki section-->
  <div class="reiki-grid">
    <div class="reiki-item">
      <div class="reiki-icon">✨</div>
      <h3>Equilibrio Energético</h3>
      <p class="text-secondary">El Reiki ayuda a restablecer el equilibrio energético del cuerpo, promoviendo la armonía entre mente, cuerpo y espíritu.</p>
    </div>

    <div class="reiki-item">
      <div class="reiki-icon">💆‍♀️</div>
      <h3>Reducción del Estrés</h3>
      <p class="text-secondary">El Reiki actúa como una poderosa herramienta para reducir el estrés y la ansiedad, proporcionando una sensación profunda de relajación.</p>
    </div>

    <div class="reiki-item">
      <div class="reiki-icon">💖</div>
      <h3>Mejora del Bienestar Emocional</h3>
      <p class="text-secondary">A través del Reiki, se promueve la sanación emocional, ayudando a liberar bloqueos emocionales y fomentando una mayor estabilidad emocional.</p>
    </div>

    <div class="reiki-item">
      <div class="reiki-icon">🧘‍♀️</div>
      <h3>Incremento de la Claridad Mental</h3>
      <p class="text-secondary">El Reiki puede ayudar a mejorar la concentración y claridad mental, permitiendo una mente más tranquila y enfocada.</p>
    </div>

    <div class="reiki-item">
      <div class="reiki-icon">🌿</div>
      <h3>Fortalecimiento del Sistema Inmunológico</h3>
      <p class="text-secondary">El Reiki ayuda a fortalecer el sistema inmunológico, mejorando la capacidad del cuerpo para defenderse de enfermedades y recuperar energía.</p>
    </div>

    <div class="reiki-item">
      <div class="reiki-icon">🌈</div>
      <h3>Mejora de la Salud Física</h3>
      <p class="text-secondary">Las sesiones de Reiki pueden aliviar dolores y tensiones físicas, ayudando a la recuperación de lesiones y a la mejora de la circulación sanguínea.</p>
    </div>

    <div class="reiki-item">
      <div class="reiki-icon">🌟</div>
      <h3>Conexión Espiritual</h3>
      <p class="text-secondary">El Reiki facilita la conexión con la energía universal y con nuestra propia esencia espiritual, promoviendo un crecimiento personal profundo.</p>
    </div>

    <div class="reiki-item">
      <div class="reiki-icon">💫</div>
      <h3>Promoción de la Paz Interior</h3>
      <p class="text-secondary">El Reiki fomenta la paz interior y la tranquilidad, ayudando a alcanzar un estado de bienestar duradero y equilibrio emocional.</p>
    </div>

    <div class="reiki-item">
      <div class="reiki-icon">🌙</div>
      <h3>Mejora del Sueño</h3>
      <p class="text-secondary">El Reiki ayuda a mejorar la calidad del sueño, promoviendo un descanso profundo y reparador, reduciendo el insomnio y la alteración del sueño.</p>
    </div>



  </div>


</div>
<footer-page/>
