<header-page/>
<div class="container">

  <div class="reiki-title">
    <h2>Beneficios del Reiki</h2>
    <div class="separator"></div>
  </div>

  <!-- Beneficios del Reiki section -->
  <div class="reiki-grid">
    <div class="reiki-item">
      <div class="reiki-icon">🧘🏻‍♀️</div>
      <h3>Relajación Profunda</h3>
      <h4>Encuentra tu calma interior</h4>
      <p class="text-secondary">El Reiki ayuda a liberar tensiones acumuladas, calma la mente y permite alcanzar un estado de paz y serenidad, ideal para combatir el estrés diario.</p>
    </div>

    <div class="reiki-item">
      <div class="reiki-icon">💆🏻‍♀️</div>
      <h3>Reducción del Estrés</h3>
      <h4>Equilibra tu energía</h4>
      <p class="text-secondary">Disminuye los síntomas de estrés y ansiedad, promoviendo una sensación de tranquilidad que restaura tu equilibrio emocional y mental.</p>
    </div>

    <div class="reiki-item">
      <div class="reiki-icon">💖</div>
      <h3>Bienestar Emocional</h3>
      <h4>Conecta con tus emociones</h4>
      <p class="text-secondary">El Reiki te ayuda a manejar tus emociones de manera efectiva, fomentando la claridad interior y fortaleciendo tu capacidad para enfrentar desafíos.</p>
    </div>

    <div class="reiki-item">
      <div class="reiki-icon">🌿</div>
      <h3>Apoyo a la Sanación Física</h3>
      <h4>Complementa tu recuperación</h4>
      <p class="text-secondary">El Reiki puede aliviar dolores físicos y acelerar la recuperación, trabajando como un complemento eficaz para tratamientos médicos.</p>
    </div>

    <div class="reiki-item">
      <div class="reiki-icon">🌀</div>
      <h3>Claridad Mental</h3>
      <h4>Despeja tus pensamientos</h4>
      <p class="text-secondary">Mejora tu concentración, creatividad y capacidad para tomar decisiones al liberar bloqueos energéticos.</p>
    </div>

    <div class="reiki-item">
      <div class="reiki-icon">⚖️</div>
      <h3>Equilibrio Energético</h3>
      <h4>Harmoniza tu ser</h4>
      <p class="text-secondary">El Reiki alinea tus chakras y promueve un flujo energético balanceado, ayudándote a mantener una salud integral.</p>
    </div>

    <div class="reiki-item">
      <div class="reiki-icon">💪🏻</div>
      <h3>Fortalecimiento Inmunológico</h3>
      <h4>Refuerza tu salud</h4>
      <p class="text-secondary">El Reiki influye positivamente en tu sistema inmunológico, apoyando la prevención de enfermedades al equilibrar tu energía.</p>
    </div>

    <div class="reiki-item">
      <div class="reiki-icon">🌌</div>
      <h3>Crecimiento Espiritual</h3>
      <h4>Conecta con tu propósito</h4>
      <p class="text-secondary">El Reiki te conecta contigo mismo, con los demás y con el universo, ayudándote a encontrar un mayor sentido de propósito y paz interior.</p>
    </div>
  </div>


</div>
<footer-page/>
