<div class="container  text-white p-4">


  <div class="row">
    <div class="col-sm-6 mb-4">
      <p class="lead">
        ¡Bienvenidos! Soy Laura, terapeuta de Reiki certificada con 10 años de experiencia ayudando a
        personas a encontrar equilibrio y bienestar. A través de la canalización de energía universal, trabajo para
        liberar bloqueos emocionales, reducir el estrés y promover la sanación a nivel físico, mental y espiritual.

        Mi enfoque es personalizado y holístico, adaptado a las necesidades y circunstancias de cada persona. Creo
        firmemente en el poder de la energía para restaurar el bienestar, por lo que ofrezco un espacio seguro y
        acogedor, donde podrás relajarte y conectar contigo mismo/a en un entorno de confianza. Durante las sesiones, me
        enfoco en ayudarte a liberar tensiones, mejorar tu flujo energético y encontrar claridad en tus emociones.
      </p>
      <img src="me-dos.png" alt="me-dos" class="img-fluid rounded shadow-lg">
    </div>

    <div class="col-sm-6 mb-4">
      <img src="me.png" alt="me" class="img-fluid rounded shadow-lg mb-3">
      <p class="lead">
        Con Reiki, no solo trabajamos en el alivio del malestar físico o emocional, sino que también te acompañaré en tu
        camino hacia la autocomprensión y el autoconocimiento profundo. A través de la energía, facilitamos el proceso
        de sanación a nivel mental, emocional y espiritual, ayudándote a descubrir las causas profundas de tus bloqueos
        y patrones, para que puedas transformarlos y avanzar hacia una vida más plena. Cada sesión es una oportunidad
        para conectar con tu esencia y aprender a escuchar las señales de tu cuerpo y tu intuición, promoviendo un
        equilibrio duradero.

        Si buscas mejorar tu calidad de vida, reducir el estrés, encontrar claridad mental o alcanzar un estado de
        armonía interior, estaré encantada de acompañarte con todo mi conocimiento y dedicación en tu proceso de
        sanación. Te ofrezco un espacio donde puedes sanar, crecer y descubrir nuevas posibilidades para tu bienestar.

        ¡Te invito a dar el primer paso hacia una vida más equilibrada, plena y conectada con tu verdadero ser!
      </p>
    </div>
  </div>
</div>
