body {
  background-color: #121212;
  color: #e0e0e0;

}
img:hover{
  opacity: 70%;
}

.separated-img {
  width: 350px;
  margin-right: 70px; /* Separa las imágenes */
}

.separated-img:last-child {
  margin-right: 0; /* Elimina el margen en la última imagen */
}
.separated-img:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
