body {
  background-color: #121212;
  color: #e0e0e0;
}


/*Estilos del menú*/
.navbar-dark .navbar-brand {
  color: #bb86fc;
}

.navbar-nav .nav-link {
  color: #e0e0e0;
  font-size: 1.1rem;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #03dac5;
}

.navbar-toggler-icon {
  background-color: #bb86fc;
}

.navbar-nav {
  margin-left: auto;
}

.bg-dark {
  background-color: #121212 !important;
}


/*Learn-component*/

.text-accent {
  color: #bb86fc;
}

.text-secondary {
  color: #03dac5;
}

.lead {
  font-size: 1.2rem;
  line-height: 1.8;
}

.me-img {
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.btn-primary-custom {
  background-color: #bb86fc;
  color: #121212;
  border: none;
  padding: 0.6rem 1.5rem;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.btn-primary-custom:hover {
  background-color: #3700b3;
  transform: translateY(-2px);
}

.quote blockquote {
  font-size: 1.5rem;
  font-style: italic;
  color: #03dac5;
  margin: 0;
}

.cta-banner {
  background-color: #1e1e1e;
  color: #bb86fc;
  padding: 2rem;
  border-radius: 8px;
}

.cta-banner h3 {
  font-size: 2rem;
  font-weight: bold;
}

.cta-banner p {
  font-size: 1.2rem;
}

.cta-banner a {
  background-color: #bb86fc;
  color: #121212;
  padding: 0.6rem 1.5rem;
  border-radius: 20px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.cta-banner a:hover {
  background-color: #3700b3;
}

/* Estilo del footer */
footer {
  background-color: #121212;
  color: #e0e0e0;
}

footer h5 {
  color: #bb86fc;
}

footer p {
  font-size: 0.95rem;
}

footer .list-unstyled li a {
  color: #e0e0e0;
  font-size: 1rem;
  transition: color 0.3s ease;
}

footer .list-unstyled li a:hover {
  color: #03dac5;
}

footer i {
  color: #bb86fc;
}

footer i:hover {
  color: #03dac5;
}

footer .text-center p {
  font-size: 0.9rem;
  color: #e0e0e0;
}

/* Estilos para la sección "Proceso de la Sesión de Reiki" */
.proceso-reiki {
  color: #e0e0e0;
  padding: 5rem 0;
}

.proceso-reiki h3 {
  font-size: 2rem;
  font-weight: 700;
  color: #bb86fc;
}

.proceso-reiki p {
  font-size: 1.1rem;
  color: #e0e0e0;
}

.proceso-reiki .row {
  margin-top: 2rem;
}

.proceso-reiki .col-sm-4 {
  margin-bottom: 2rem;
  padding: 1.5rem;
  border-radius: 8px;
  background-color: #1e1e1e;
}

.proceso-reiki h5 {
  margin: 1.5rem;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600;
  color: #bb86fc;
}

.proceso-reiki .text-secondary {
  color: #e0e0e0;
}

.proceso-reiki .row .col-sm p {
  color: #cfcfcf;
}

.proceso-reiki .col-sm {
  background-color: #1e1e1e;
}

/* Resaltar el fondo con un suave morado */
.proceso-reiki .col-sm:hover {
  background-color: #bb86fc;
  color: black;
}

.me-img:hover{
  width: 70%;
}
